@model WebUI.Areas.RegionalCoordinator.Models.CourseDescription.Update

@{
    ViewBag.Title = "update course description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="partialviewbackground">
 @Html.Partial("_LayoutBackgroundPartial")
</div>


@{<script type="text/javascript">
    function DDLWidth(dropDownListWidth)
    {
        var max = 0;
        for (var x = 0; x < dropDownListWidth.length; x++)
        {
            if (dropDownListWidth.options[x].text.length > max)
            {
                max = dropDownListWidth.options[x].text.length;
            }
        }
        dropDownListWidth.style.width = max * 10 + "%";

    }

</script>
}
@using (Html.BeginForm()){
    @Html.ValidationSummary(); 
    <div class="wizardcontents">  
      <h2>update a course description now!</h2>
 <fieldset >
        <legend>Course Description</legend>

        <div class="course-select-list"> @Html.DropDownListFor(m => m.Id, Model.CourseDescriptions, "Id", "CourseName")</div>
     
     <ol>
        <li>@Html.LabelFor(model => model.CourseName)</li>        
            <li>@Html.EditorFor(model => model.CourseName)</li>
                    
            <li>@Html.LabelFor(model => model.Description)</li>        
            <li>@Html.EditorFor(model => model.Description)</li>
                    
            <li>@Html.LabelFor(model => model.CourseNumber)</li>        
            <li>@Html.EditorFor(model => model.CourseNumber)</li>
     </ol>

    <input type="button" value="Back" onclick="location.href = 'Index'" /> <input type="submit" value="Update" />

</fieldset>
        </div>
}
