@model WebUI.Areas.RegionalCoordinator.Models.WizardModel
 @{
    ViewBag.Title = "Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
   }

<div class="partialviewbackground">
 @Html.Partial("_LayoutBackgroundPartial")
</div>

@using (Html.BeginForm()){
    <div class="wizardcontents">
        <h2>4) please select an area or create one!</h2>

<fieldset class="listedopt">
    <h5 class="regionpicked">YOU SELECTED THE FOLLOWING REGION: &nbsp " @Html.DisplayTextFor(m => m.RegionName) "</h5>
    <h5 class="suburbpicked">YOU SELECTED THE FOLLOWING SUBURB: &nbsp " @Html.DisplayTextFor(m => m.SuburbName) "</h5>
    <h5 class="venuepicked">YOU SELECTED THE FOLLOWING VENUE: &nbsp " @Html.DisplayTextFor(m => m.venueName) "</h5>
    

  
   <legend class="legend">insert the number of the new Room below!</legend>
   
    <ol class="roomuserimput">
        
        @if(Model.Areas.Count() != 0)
        {
            
            <li>@Html.DropDownListFor(m => m.AreaId, new SelectList(Model.Areas.ToList(), "Id", "Room"), new { @class = "arealist", @size = Model.Areas.Count(), @disabled = "disabled"})</li>
        }
        else
        {
            <li class="arealist">No areas exist.</li>
            
        }
        
        <li>@Html.LabelFor(m => m.roomNumber)</li>
        <li>@Html.EditorFor(m => m.roomNumber)</li>

           
        <li>@Html.HiddenFor(m => m.RegionId)</li>
        <li>@Html.HiddenFor(m=> m.SuburbId)</li>
        <li>@Html.HiddenFor(m => m.VenueId)</li>
        <li>@Html.HiddenFor(m => m.RegionName)</li>
        <li>@Html.HiddenFor(m=> m.SuburbName)</li>
        <li>@Html.HiddenFor(m => m.venueName)</li>
        <li>@Html.HiddenFor(m => m.venueAddress)</li>
        
    </ol>
    
  @*  <input id="finalwizsubmit" type="submit" value="Complete the Create Location Wizard!" />}else{*@<input type="submit" value="Complete the Create Location Wizard!" />
    <div>@Html.ValidationMessage("Exception")</div>
    
   
</fieldset>

</div>
}
