@model WebUI.Areas.RegionalCoordinator.Models.WizardModel

@if (false)
{
<script src="~/Scripts/jquery-1.7.1.intellisense.js"></script>
}

@{
    ViewBag.Title = "ViewLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewLocation</h2>
     @Html.DropDownListFor(m => m.RegionId, new SelectList(Model.Regions.ToList(), "Id", "RegionName"), string.Empty,
        new { @class = "dropmenue" })
    <br /><br />
    @Html.DropDownListFor(m => m.SuburbId, Enumerable.Empty<SelectListItem>(),new { @class = "dropmenue"})
    <br />

    <br />
    @Html.DropDownListFor(m => m.VenueId, Enumerable.Empty<SelectListItem>(),new { @class = "dropmenue"})
    <br />
    
   
<button id="DeleteVenue">Save Changes</button>
   <div><h2 id="DisplayData"></h2></div>
   


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 <script type="text/javascript">
     var venue = null;
     var region = null;
     var suburb = null;
     

     $("#RegionId").change(function () {
         region = $(this).val();
         $.ajax({
             url: '@Url.Action("SelectRegion", "Location")',
             data: { ID: $(this).val() },
             type: 'POST',
             success: function (data) {
                 $("#SuburbId").html(data);

             }

         });
     });

     $("#SuburbId").change(function () {
         suburb = $(this).val();
         $.ajax({
             url: '@Url.Action("SelectSuburb", "Location")',
             data: { Sid: $(this).val(), Rid: $("#RegionId").val() },
             type: 'POST',
             success: function (data) {
                 $("#VenueId").html(data);
             }
         });
     });

     $("#VenueId").change(function () {
         venue = $(this).val();
         
     });
    
     $("#DeleteVenue").click(function () {
         
         $.ajax({
             url: '@Url.Action("DeleteVenue", "Location")',
             data: { regionId: region, suburbId: suburb, venueId: venue },
             type: 'POST',
             success: function (data) {
                 window.location.href = "Index";
             }
         });

     });

</script>
}